
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #000;
}

header {  
    background-color: #222;
    color: #fff;
    padding: 30px;
    text-align: center;
    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}


nav ul li a { 
    color: #ffffff;
    text-decoration: none;
    
}

section {
    padding: 40px 20px;
    max-width: 1000px;
    margin: 0 auto;
}

h2 {  
    color: #000000;
    margin-bottom: 20px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.modelo { 
    background-color: #c2bebe;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    
}

.skills {  
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.skills li {
    margin-bottom: 10px;
    background: #aaa5a5;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 20px;
    margin-top: 40px;
}
